<!DOCTYPE html>
<div *ngIf="CurrentTrack">
	<img class="album-art" [src]="CurrentTrack.albumArtURI" />
	<div>
		<div class="album-art-blur" [style.background-image]="'url(' + CurrentTrack.albumArtURI + ')'">
		</div>
		<div class="track-info">
			<span class="track">
				<template [ngIf]="CurrentTrack.name">
					{{CurrentTrack.name}}
				</template>
				<template [ngIf]="!CurrentTrack.name">
					Unknown Name
				</template>
			</span>
			<span class="artist">
				<template [ngIf]="CurrentTrack.artist">
					{{CurrentTrack.artist}}
				</template>
				<template [ngIf]="!CurrentTrack.artist">
					Unknown Artist
				</template>
			</span>
			<span *ngIf="CurrentTrack.album" class="album">{{CurrentTrack.album}} <span *ngIf="CurrentTrack.year" class="year">({{CurrentTrack.year}})</span></span>
			<div class="controls">
				<button><i class="fa fa-step-backward"></i></button>
				<button><i class="fa fa-backward"></i></button>
				<button class="play"><i class="fa fa-play"></i></button>
				<button><i class="fa fa-forward"></i></button>
				<button><i class="fa fa-step-forward"></i></button>
				<button class="random"><i class="fa fa-random"></i></button>
				<button class="repeat"><i class="fa fa-repeat"></i></button>
			</div>
			<div class="track-duration" [attr.left-time]="TimeSpanToString(CurrentDuration)" [attr.right-time]="TimeSpanToString(CurrentDifference)">
				<div class="runner" [style.padding-left.%]="(CurrentDuration.milliseconds / CurrentTrack.duration.milliseconds) * 100.0"></div>
			</div>
		</div>
	</div>
</div>
