@import "mixins";

$blur: 100px;
$artwork-size: 200px;
$info-padding: 15px;
$runner-width: 6px;

musick {
	> .loading {
		@include centerer(absolute);

		font-size: 750%;
		color    : #cccccc;
	}

	> div {
		clear: both;

		> .album-art {
			position: relative;
			z-index : 10;
			width   : $artwork-size;
			height  : $artwork-size;
			float   : left;
		}

		> div {
			position: relative;
			width   : calc(100% - #{$artwork-size});
			height  : $artwork-size;
			float   : right;
			overflow: hidden;

			> .album-art-blur {
				position           : absolute;
				top                : -2 * $blur;
				left               : -2 * $blur;
				z-index            : -1;
				width              : calc(100% + #{4 * $blur});
				height             : calc(100% + #{4 * $blur});
				background-repeat  : no-repeat;
				background-position: 0;
				background-size    : cover;
				filter: blur($blur) saturate(115%);
			}

			> .track-info,
			> .upcoming-tracks {
				box-sizing: border-box;
				position  : absolute;
				display   : inline-block;
				top       : 0;
				width     : 50%;
				height    : 100%;
			}

			> .track-info {
				left   : 0;
				padding: $info-padding;

				> span {
					display    : block;
					text-shadow: 2px 2px 10px #111111;

					&.track {
						font-family: "Open Sans", sans-serif;
						font-size  : 200%;
						font-weight: bold;
					}

					&.album,
					&.artist {
						font-family: "Open Sans", sans-serif;
						font-size  : 125%;
					}
				}

				> .controls {
					height     : 55px;
					line-height: 55px;

					> button {
						padding         : initial;
						font-size       : 150%;
						color           : inherit;
						vertical-align  : middle;
						align-items     : initial;
						text-align      : initial;
						background-color: initial;
						border-width    : initial;
						border-style    : none;
						border-color    : initial;
						outline         : none;

						&:active {
							transform: translate(1px, 1px);

							> i {
								color: darken(#E2B037, 10%);
							}
						}

						&.play {
							margin   : 0 10px;
							font-size: 200%;
							min-width: 28px;
						}

						&.random,
						&.repeat {
							float      : right;
							margin-left: 15px;
							font-size  : 150%;
						}

						&.repeat {
							line-height: 57.5px;

							&.non-single {
								line-height: 62.5px;
								text-align : center;

								> i {
									width: 2em;
								}
							}
						}

						&.random {
							line-height: 64px;
						}

						&.disabled {
							opacity: 0.5;
						}

						> .fa-stack {
							> .fa-minus-circle {
								top      : 7.5px;
								left     : -7.5px;
								font-size: 50%;
							}
						}

						i {
							text-shadow: 2px 2px 10px #111111;
							cursor     : pointer;
						}
					}
				}

				> .track-duration {
					position    : absolute;
					bottom      : 2 * $info-padding;
					left        : $info-padding;
					right       : $info-padding;
					height      : 5px;
					box-shadow  : 2px 2px 15px #111111;
					border-right: (0.5 * $runner-width) solid #000000;
					border-left : (0.5 * $runner-width) solid #000000;

					&::after,
					&::before {
						position   : absolute;
						top        : $info-padding / 2;
						font-family: "Open Sans", sans-serif;
						font-size  : 75%;
						text-shadow: 2px 2px 10px #111111;
					}

					&::before {
						content: attr(left-time);
						left   : -0.5 * $runner-width;
					}

					&::after {
						content: attr(right-time);
						right  : -0.5 * $runner-width;
					}

					> .runner {
						position  : absolute;
						bottom    : 0;
						width     : 0;
						height    : 5px;

						&::after {
							content         : " ";
							position        : absolute;
							bottom          : 0;
							right           : -0.5 * $runner-width;
							width           : $runner-width;
							height          : 15px;
							background-color: #000000;
						}
					}
				}
			}

			> .upcoming-tracks {
				right      : 0;
				font-family: "Open Sans", sans-serif;
				overflow-y : scroll;

				> ul {
					margin         : 0;
					padding        : 0;
					list-style-type: none;
					text-shadow    : 2px 2px 10px #111111;

					> li {
						height       : 32px;
						line-height  : 32px;
						border-bottom: 1px solid #000000;

						> img {
							width         : 32px;
							height        : 32px;
							vertical-align: middle;
						}

						> span {
							font-size     : 90%;
							vertical-align: middle;

							&.track {
								font-family: "Open Sans", sans-serif;
								font-size  : 100%;
								font-weight: bold;
							}
						}
					}
				}
			}
		}
	}
}
